body {
    font-family: 'Arial', sans-serif;
    background-color: #6bff6b;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #062701;
    text-align: center;
    margin-bottom: 20px;
}
form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}
input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
button,input[type="submit"]{
    background-color: #1c4e05;
    color: white;
    padding: 10px;
    border:#6bff6b;
    border-radius: 16px;
    font-size: 16px;
    align-self: center;
}   